flask
flask-login
flask-sqlalchemy
flask-bcrypt
flask-socketio
flask-mail
sqlalchemy
requests
requests-pkcs12
PyYAML
cryptography
reportlab
apscheduler
gunicorn
eventlet
python-dotenv
psycopg2-binary
